<h1>--Sword--</h1>
<h3>Owner: <%= @sword.user.name if @sword.user %></h3>
<h3>Name: <%= @sword.name %></h3>
<h3>Value: <%= @sword.value %></h3>
<h3>Lethality: <%= @sword.lethality %></h3>
<a href="/swords/<%= @sword.id %>/edit">-Edit Sword-</a><br/>
